{% assign sections = "2,3,4,5,6,7,8,9,10,11,12,13,14,15" %}
{% assign sections = sections | split: ',' %}

<div id="slide-1">
  <div class="bcg"
      data-center="background-position: 50% 0px;"
      data-top-bottom="background-position: 50% -200px;"
      data-anchor-target="#slide-1">
      <div class="hsContainer">
          <div class="hsContent {{ settings.image_1_text_align }}"
              data-100-top="opacity: 1"
              data-25-top="opacity: 0"
              data-anchor-target="#slide-1 .animated">
          <div class="animated fadeIn delay-025s">
                <h1 class="headline" style="color:{{settings.image_1_text_color}}">{{ settings.image_1_headline }}</h1>
                <p class="subtitle" style="color:{{settings.image_1_text_color}}">{{ settings.image_1_subtitle }}</p>
                {% if settings.image_1_button_text != blank %}
                  <a href="{{ settings.image_1_link }}" class="action_button">
                    {{ settings.image_1_button_text }}
                  </a>
                {% endif %}
          </div>
          {% if settings.homepage_arrow %}
            <a href="#pagecontent" class="scroll-arrow animated fadeInDown">Scroll Down</a>
          {% endif %}
          </div>
      </div>
  </div>
</div>
<a name="pagecontent" id="pagecontent"></a>


{% for num in sections %}
  {% if settings.image_2_position == num and settings.slideshow_2_enabled %}
    <div id="slide-2">
        <div class="bcg"
            data-bottom-top="background-position: 50% 200px;"
            data-top-bottom="background-position: 50% -200px;"
            data-anchor-target="#slide-2">
            <div class="hsContainer">
                <div class="hsContent {{ settings.image_2_text_align }}">
                  <div>
                    <p class="headline" style="color:{{settings.image_2_text_color}}">{{ settings.image_2_headline }}</p>
                    <p class="subtitle" style="color:{{settings.image_2_text_color}}">{{ settings.image_2_subtitle }}</p>
                    {% if settings.image_2_button_text != blank %}
                      <a href="{{ settings.image_2_link }}" class="action_button">
                        {{ settings.image_2_button_text }}
                      </a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
  {% elsif settings.image_3_position == num and settings.slideshow_3_enabled %}
    <div id="slide-3">
        <div class="bcg"
            data-bottom-top="background-position: 50% 200px;"
            data-top-bottom="background-position: 50% -200px;"
            data-anchor-target="#slide-3">
            <div class="hsContainer">
                <div class="hsContent {{ settings.image_3_text_align }}">
                  <div>
                    <p class="headline" style="color:{{settings.image_3_text_color}}">{{ settings.image_3_headline }}</p>
                    <p class="subtitle" style="color:{{settings.image_3_text_color}}">{{ settings.image_3_subtitle }}</p>
                    {% if settings.image_3_button_text != blank %}
                      <a href="{{ settings.image_3_link }}" class="action_button">
                        {{ settings.image_3_button_text }}
                      </a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
  {% elsif settings.image_4_position == num and settings.slideshow_4_enabled %}
    <div id="slide-4">
        <div class="bcg"
            data-bottom-top="background-position: 50% 200px;"
            data-top-bottom="background-position: 50% -200px;"
            data-anchor-target="#slide-4">
            <div class="hsContainer">
                <div class="hsContent {{ settings.image_4_text_align }}">
                  <div>
                    <p class="headline" style="color:{{settings.image_4_text_color}}">{{ settings.image_4_headline }}</p>
                    <p class="subtitle" style="color:{{settings.image_4_text_color}}">{{ settings.image_4_subtitle }}</p>
                    {% if settings.image_4_button_text != blank %}
                      <a href="{{ settings.image_4_link }}" class="action_button">
                        {{ settings.image_4_button_text }}
                      </a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
  {% elsif settings.image_5_position == num and settings.slideshow_5_enabled %}
    <div id="slide-5">
        <div class="bcg"
            data-bottom-top="background-position: 50% 200px;"
            data-top-bottom="background-position: 50% -200px;"
            data-anchor-target="#slide-5">
            <div class="hsContainer">
                <div class="hsContent {{ settings.image_5_text_align }}">
                  <div>
                    <p class="headline" style="color:{{settings.image_5_text_color}}">{{ settings.image_5_headline }}</p>
                    <p class="subtitle" style="color:{{settings.image_5_text_color}}">{{ settings.image_5_subtitle }}</p>
                    {% if settings.image_5_button_text != blank %}
                      <a href="{{ settings.image_5_link }}" class="action_button">
                        {{ settings.image_5_button_text }}
                      </a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
  {% elsif settings.image_6_position == num and settings.slideshow_6_enabled %}
    <div id="slide-6">
        <div class="bcg"
            data-bottom-top="background-position: 50% 200px;"
            data-top-bottom="background-position: 50% -200px;"
            data-anchor-target="#slide-6">
            <div class="hsContainer">
                <div class="hsContent {{ settings.image_6_text_align }}">
                  <div>
                    <p class="headline" style="color:{{settings.image_6_text_color}}">{{ settings.image_6_headline }}</p>
                    <p class="subtitle" style="color:{{settings.image_6_text_color}}">{{ settings.image_6_subtitle }}</p>
                    {% if settings.image_6_button_text != blank %}
                      <a href="{{ settings.image_6_link }}" class="action_button">
                        {{ settings.image_6_button_text }}
                      </a>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
  {% elsif settings.featured_links_position == num and settings.featured_links %}
    {% assign featured_links_count = settings.featured_links_count | minus: 0 %}
    <div class="container content" style="padding-top:0">
      <div class="sixteen columns" id="featured_links">
        <div class="section clearfix" id="feature">
          <div class="{% if featured_links_count == 2 %}eight columns{% elsif featured_links_count == 3 %}one-third column{% else %}four columns{% endif %} alpha delay-025s center">
            {% if settings.feature1_link != blank %}
              <a href="{{ settings.feature1_link }}">
            {% endif %}
            
            <img src="{{ 'feature1.jpg' | asset_url }}" alt="{{ settings.feature1_title }}" />
            
            {% if settings.feature1_title != blank %}
              <h2>{{ settings.feature1_title }}</h2>
              <div class="feature_divider"></div>
            {% endif %}
            {% if settings.feature1_link != blank %}
              </a>
            {% endif %}

            {% if settings.feature1_description != blank %}
              <p>{{ settings.feature1_description }}</p>
            {% endif %}
          </div>

          <div class="{% if featured_links_count == 2 %}eight columns omega{% elsif featured_links_count == 3 %}one-third column{% else %}four columns{% endif %} delay-05s center">
            {% if settings.feature2_link != blank %}
              <a href="{{ settings.feature2_link }}">
            {% endif %}

            <img src="{{ 'feature2.jpg' | asset_url }}" alt="{{ settings.feature2_title }}" />
            
            {% if settings.feature2_title != blank %}
              <h2>{{ settings.feature2_title }}</h2>
              <div class="feature_divider"></div>
            {% endif %}
            {% if settings.feature2_link != blank %}
              </a>
            {% endif %}

            {% if settings.feature2_description != blank %}
              <p>{{ settings.feature2_description }}</p>
            {% endif %}
          </div>

          {% if featured_links_count >= 3 %}
            <div class="{% if featured_links_count == 2 %}eight columns{% elsif featured_links_count == 3 %}one-third column omega{% else %}four columns{% endif %} delay-075s center">
              {% if settings.feature3_link != blank %}
                <a href="{{ settings.feature3_link }}">
              {% endif %}

              <img src="{{ 'feature3.jpg' | asset_url }}" alt="{{ settings.feature3_title }}" />
              
              {% if settings.feature3_title != blank %}
                <h2>{{ settings.feature3_title }}</h2>
                <div class="feature_divider"></div>
              {% endif %}
              {% if settings.feature3_link != blank %}
                </a>
              {% endif %}

              {% if settings.feature3_description != blank %}
                <p>{{ settings.feature3_description }}</p>
              {% endif %}
            </div>
          {% endif %}

         {% if featured_links_count == 4 %}
            <div class="{% if featured_links_count == 2 %}eight columns{% elsif featured_links_count == 3 %}one-third column{% else %}four columns omega{% endif %} delay-1s center">
              {% if settings.feature4_link != blank %}
                <a href="{{ settings.feature4_link }}">
              {% endif %}

              <img src="{{ 'feature4.jpg' | asset_url }}" alt="{{ settings.feature4_title }}" />
              
              {% if settings.feature4_title != blank %}
                <h2>{{ settings.feature4_title }}</h2>
                <div class="feature_divider"></div>
              {% endif %}
              {% if settings.feature4_link != blank %}
                </a>
              {% endif %}

              {% if settings.feature4_description != blank %}
                <p>{{ settings.feature4_description }}</p>
              {% endif %}
            </div>
          {% endif %}        
        </div>
      </div>
    </div>
  {% elsif settings.content_1_position == num and settings.homepage1 != blank %}
    <div class="homepage_content clearfix content1">
      <div class="container">
        <div class="sixteen columns">
          <div class="section clearfix">
            {{ pages[settings.homepage1].content }}
          </div>
        </div>
      </div>
    </div>
  {% elsif settings.content_2_position == num and settings.homepage2 != blank %}
    <div class="homepage_content clearfix content2">
      <div class="container">
        <div class="sixteen columns">
          <div class="section clearfix">
            {{ pages[settings.homepage2].content }}
          </div>
        </div>
      </div>
    </div>
  {% elsif settings.content_3_position == num and settings.homepage3 != blank %}
    <div class="homepage_content clearfix content3">
      <div class="container">
        <div class="sixteen columns">
          <div class="section clearfix">
            {{ pages[settings.homepage3].content }}
          </div>
        </div>
      </div>
    </div>
  {% elsif settings.featured_collections_position == num and settings.frontpage_linklist != blank %}
    <div class="container">
      <div class="sixteen columns center homepage_content">
        {% assign linklist = linklists[settings.frontpage_linklist] %}
        {% assign collections_per_row = settings.frontpage_collections_per_row %}
        {% include 'collection-loop' %}
      </div>
    </div>
  {% elsif settings.featured_products_position == num and settings.frontpage_collection != blank %}
    <div class="container">
      {% if settings.homepage_sidebar %}
        {% include 'sidebar' %}
        <div class="twelve columns center homepage_content">
      {% else %}
        <div class="sixteen columns center homepage_content">
      {% endif %}

        <h2 class="title">{{ collections[settings.frontpage_collection].title }}</h2>
        <div class="feature_divider"></div>
        {% if collections[settings.frontpage_collection] != blank %}
          <div class="section clearfix">    
            {{ collections[settings.frontpage_collection].description }}
          </div>
        {% endif %}
        {% assign collection = '' %}
        {% assign products = collections[settings.frontpage_collection].products %}
        {% assign products_per_row = settings.frontpage_products_per_row %}
        {% include 'product-loop' with settings.homepage_sidebar %}
      </div>
    </div>
  {% elsif settings.featured_product_position == num and settings.frontpage_collection_full != blank %}
    <div class="container">
      <div class="sixteen columns homepage_content">
      {% assign collection = '' %}
      {% assign products = collections[settings.frontpage_collection_full].products %}
      {% include 'product-full' %}
      </div>
    </div>
  {% elsif settings.featured_blog_position == num and settings.blog_widget_select != blank %}
    <div class="container">
      <div class="section clearfix homepage_content">
        <h3 class="title center">{{ blogs[settings.blog_widget_select].title }}</h3>
        <div class="feature_divider"></div>
        {% for article in blogs[settings.blog_widget_select].articles limit: settings.home_page_articles %}
          <div class="{% if settings.home_page_articles == "2" %}eight columns{% elsif settings.home_page_articles == "3" %}one-third column{% else %}four columns{% endif %} ">
            <h5 class="sub_title">
              <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
            </h5>
            <p class="meta"><span class="label">{{ article.published_at | date: "%B %d, %Y" }}</span></p>

            {% if article.excerpt != blank %}
              {{ article.excerpt }}
            {% else %}
              <p>
                {{ article.content | strip_html | truncatewords: 25 }} <a href="{{ article.url }}" class="view_product_info" title="{{ article.title | escape }}">Read More <span class="icon-right-arrow"></span></a>
              </p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% elsif settings.featured_social_position == num %}
    {% if settings.twitter_widget != blank or settings.instagram_widget != blank %}
      <div class="container">
        <div class="section clearfix">
          {% if settings.instagram_widget %}
            <div class="{% if settings.twitter_widget != blank %}eight{% else %}sixteen{% endif %} columns">
              <h4 class="title">
                {% if settings.instagram_link != blank %}
                  <a href="{{ settings.instagram_link }}" target="_blank">
                {% endif %}
                {{ settings.instagram_title }}
                {% if settings.instagram_link != blank %}
                  </a>
                {% endif %}
              </h4>

              <div id="instafeed" data-username="{{ settings.instagram_username }}" data-client-id="{{ settings.instagram_client_id }}" data-count="{{ settings.instagram_count }}"></div>
            </div>
          {% endif %}

          {% if settings.twitter_widget != blank %}
            <div class="{% if settings.instagram_widget != blank %}eight{% else %}sixteen{% endif %} columns">
            <h4 class="title"><a href="https://twitter.com/{{ settings.twitter_username }}" target="_blank">Tweets</a></h4>
            <a class="twitter-timeline" href="https://twitter.com/{{ settings.twitter_username }}" data-widget-id="319998048782647298" data-tweet-limit="{{ settings.tweet_count }}" data-screen-name="{{ settings.twitter_username }}" data-chrome="noheader nofooter noborders transparent" data-link-color="{{ settings.link_color }}" data-heading-style="color:{{ settings.link_color }};font-size:{{ settings.regular_font_size }}px;{% if settings.regular_typeface_method == "google_webfonts" %}font-family: {{ settings.regular_google_webfont_font | replace: '+', ' ' }};{% else %}font-family: {{ settings.regular_websafe_font | replace: '+', ' ' }};{% endif %}"></a>
            <script defer>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
